In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os
from tabulate import tabulate
from typing import Literal
import re
sns.set_style("whitegrid")

first load data, get all years together
what is devtest???

volgens mij gaat dit goed, misschien even checken

TODO: idee: _alle_ data van vorige jaren gebruiken voor train, en dan alleen nieuwste voor test gebruiken...

In [77]:
# all years together
def concatenate_files(name: Literal["train","test","dev"], path="data/downloaded/") -> None:
    # regex to capture the dataset name so you only get {name} type files
    r = '[a-z]+\-\d{4}([a-z]+)-'
    onlyfiles = [f for f in os.listdir("data/downloaded") if os.path.isfile(os.path.join("data/downloaded", f)) and os.path.join("data/downloaded", f)[-5] == "A"]
    filenames = [f for f in onlyfiles if re.match(r, f).group(1) == name]

    with open(f'{path}twitter-{name}.tsv', 'w') as outfile:
        for fname in filenames:
            with open(path+fname) as infile:
                for line in infile:
                    outfile.write(line)

In [78]:
for name in ["train", "test", "dev"]:
    concatenate_files(name)

Load into dataframes

In [76]:
train = pd.read_csv("data/downloaded/twitter-train.tsv", sep='\t', usecols=[1,2], names=["label", "text"])
test = pd.read_csv("data/downloaded/twitter-test.tsv", sep='\t', usecols=[1,2], names=["label", "text"])
dev = pd.read_csv("data/downloaded/twitter-dev.tsv", sep='\t', usecols=[1,2], names=["label", "text"])

print(train.size, test.size, dev.size)

32082 56842 7240

class imbalances

In [75]:
train_class_counts = train.groupby('label').count().rename({"text":"train"}, axis=1)
test_class_counts = test.groupby('label').count().rename({"text":"test"}, axis=1)
dev_class_counts = dev.groupby('label').count().rename({"text":"dev"}, axis=1)


pd.concat([train_class_counts, test_class_counts, dev_class_counts], axis=1)

          train   test   dev
label
negative   2374   4356   731
neutral    6840  13511  1485
positive   6827  10554  1404

preprocessing:
remove links? 
remove @'s ?
punctuation etc?